.iframe {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 6vh;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 0;
}

.iframe-container {
    width: 100%;
    height: 100%;
    display: flex;
}